<head>
<!-- Import Twitter Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<div class="container-xl">

  <div class="row bg-dark text-white">
    <h1 class="display-3"> {{ name }} </h1>
  </div>
  <div class = "row">
    <h1 class="display-4"> Day {{day}} </h1>
  </div>

  <app-messages></app-messages>
  <app-actions></app-actions>
  <router-outlet></router-outlet>
  <hr>
  <app-tavern-stat></app-tavern-stat>
  <app-heroes></app-heroes>


</div>
