  <div class="container-fluid pb-4">
    <div class="row">
      <h4>Tavern Info</h4>
    </div>
    <div class="row row-cols-3"> 
      <div class="col">
        Gold: {{tavern.gold}}
      </div>
      <div class="col">
        Food: {{tavern.food}}
      </div>
      <div class="col">
        Popularity: {{tavern.popularity}}
      </div>
    </div>
    <div class="row row-cols-3"> 
      <div class="col">
        Gold Income: +{{tavern.goldIncome}}
      </div>
      <div class="col">
        Food Upkeep: -{{tavern.foodUpkeep}}
      </div>
      <div class="col">
        Patron Wealth: {{tavern.patronWealth}}
      </div>
    </div>
  </div>
