<div class="container-sm">
  <div class="row pb-4">
    <div class="col" *ngIf="foodReward>=0">
      <div class="row"><h3>Exploration Summary</h3></div>
      <div class="row alert alert-success" role="alert" *ngIf="foodReward>0">
        Food gained: {{foodReward}}
      </div>
      <div class="row alert alert-danger" role="alert" *ngIf="foodReward<=0">
        Food gained: {{foodReward}}
      </div>
      <div class="row mt-3" *ngFor="let stat of stats; index as i">
        <div class="col">
          <div class="row card">
            <div class="col card-body">
              <h5 class="card-title">{{heroes[i].name}}</h5>
              <div class="row card-text">
                <div class="col">
                  Lost Health: {{stat.health}}
                </div>
              </div>
              <div class="row card-text">
                <div class="col">
                  Gained Fatigue: +{{stat.fatigue}}
                </div>
              </div>
              <div class="row card-text" *ngIf="stat.arcana!=0">
                <div class="col">
                  Lost Arcana: {{stat.arcana}}
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    <div class="col" *ngIf="foodReward<0">
      <div class="row"> You are unable to explore anymore. You should end the day.</div>
    </div>
  </div>
</div>
