<div class="container bg-light pb-4">
  <div class="row">
    <div class="col-sm">
      <h1>Actions</h1>
      <p>Remaining Action Points (AP): {{tavern.actionPoints}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <nav><button type="button" class="btn btn-primary btn-block" routerLink="/hunt">Hunt</button></nav>
    </div>
    <div class="col">
      <nav><button type="button" class="btn btn-primary btn-block" routerLink="/upgrade">Upgrade</button></nav>
    </div>
    <div class="col">
      <nav><button type="button" class="btn btn-danger btn-block text-uppercase" routerLink="/end">End Day</button></nav>
    </div>
  </div>
</div>
